@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebCards.Models.ArrayGiocatoriModel

@{
    ViewData["Title"] = "dati giocatori";

}

@using (Html.BeginForm("Inizializa_giocatori", "Giocatori", FormMethod.Post))
{
<h1 style="text-align:center;">♠ Crea giocatore ♠</h1>
    <center>
            <table style="width:30%">

                <tr>
                    <th>Inserisci nome e metti la spunta se è un bot </th>
                  
                </tr>
                
                
                    <tr style="width:0%"; align="left">
                        @Html.EditorFor(m => m.giocatori)
                    </tr>
                

            </table>
            </center>
            <br>
            <center>
                <input type="submit" value="Inserisci" />
                <br><br><p3>Il primo giocatore a inserire il nome sarà l'utente e il primo a fare una mossa</p3>
            </center>
            

}


