@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebCards.Models.ArrayGiocatoriModel

@{
    ViewData["Title"] = "dati giocatori";

}

@using (Html.BeginForm("Inizializa_giocatori", "Giocatori", FormMethod.Post))
{
    <h1 style="text-align:center;">♠ Crea giocatore ♠</h1>
    <center>
        <table style="width:100%" ; align="center">

            <tr>
                <th style="text-align: center">Inserisci nome </th>

            </tr>

            @Html.EditorFor(m => m.giocatori)
            
    

    </table>
    </center>
    <br>
    <center>
        <input type="submit" value="Inserisci" />
        <br><br><p class="center">Il primo giocatore a inserire il nome sarà l'utente e il primo a fare una mossa</p>
    </center>
}


