@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebCards.Models.ArrayGiocatoriModel

@{
}

@using (Html.BeginForm("Inizializa_giocatori", "Giocatori", FormMethod.Post))
    {
        <ol>
            @foreach(var giocatoe in Model.giocatori)
            {
                <li> 
                @Html.Label("Name")  
                @Html.TextBoxFor(m => giocatoe.Nome)
                @Html.Label("IsBot")
                @Html.CheckBoxFor(m => giocatoe.IsBot)
                </li> 
            }
        </ol>
        <button onclick="", class="btn btn-success"></button>
    }


