@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Selezione Giocatore";
}

<h1 style="text-align:center;">♠ Chi sei tra questi giocatori? ♠</h1>
<br>
<center>
    <div id="container">

        <form action="/action_page.php">
            @using (Html.BeginForm("SelezioneGiocatore", "Giocatori", FormMethod.Post))
            {

                @Html.RadioButtonFor(m => m.Gender,"Male")

                @Html.EditorFor(m => m.giocatori)




                <input type="submit" value="Submit">
            }


            <input type="radio" id="" name="fav_language" value="">
            <label for="">dio</label><br>
            <input type="radio" id="" name="fav_language" value="">
            <label for="">CSS</label><br>
            <input type="radio" id="" name="fav_language" value="">
            <label for="">JavaScript</label><br><br>

        </form>
        <br>
        
    </div>
    
</center>
@*https://localhost:44352/Giocatori/SelezioneGiocatore*@