@model WebCards.Models.ResetDatabaseModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <br>
    <div id="right">
        <h3 class="display-4">Benvenuti!</h3>
        <h2 id="h2home">Questo è il progetto della quarta Academy</h2>
    </div>
    
    <br>
    <br>


    <p>
        Una partita di rubamazzetto che consente di giocare in due, tre o quattro persone. <br>Regole:<br>
        Confrontando le carte nella mano, le regole prevedono che ogni giocatore,<br> durante il suo turno, possa fare solo una tra queste scelte:<br>
        <ul>
            <li>Rubare un mazzo di un altro giocatore;</li>
            <li>Prendere una carta dal tavolo; </li>
            <li>Scartare una propria carta sul tavolo.</li>
        </ul>
    </p>
</div>

@*
    questo tasto e per risteare il db non eliminare perfavore
    garzie
*@

@using (Html.BeginForm("Reset_db", "Home", FormMethod.Post))
{
    <label>premi qui per il reset del database</label>
    <br>
    <input type="submit" value="Ruba" class="btn btn-success" />
}
<br />







