<!--@{
    ViewData["Title"] = "Inizialzzazione partita";
}
<style>
    button {
        color: white;
        background-color: darkred;
        text-align: center;
        border: 1px solid black;
        font-style: normal;
        font-family: 'High Tower Text';
        font-size: 14px;
    }

    h3 {
        color: white;
        text-align: center
    }

    h1 {
        color: white;
        text-align: center
    }

    body {
        background-color: #003300;
    }
</style>
<button--> @*onclick="@Nuovapartita()"*@<!--><b>Nuova Partita</b></button>--> @*nuova*@
<!--<button--> @*onclick="@Nuovapartita()"*@<!--><b>Continua Partita</b></button>--> @*nuova*@

<!--<button><b>Inserisci nome giocatore</b></button>-->

