<!--@{
    ViewData["Title"] = "Inizialzzazione partita";
}


<button-->
@*onclick="@Nuovapartita()"*@<!--><b>Nuova Partita</b></button>-->
<!--<button--> @*onclick="@Nuovapartita()"*@<!--><b>Continua Partita</b></button>--> @*nuova*@

<!--<button><b>Inserisci nome giocatore</b></button>-->
