header {
    background-color: #ffffff;
    color: red;
}

footer {
    background-color: #ffffff;
}

container {
    color: white;
}

ul {
    color: white;
    text-align: justify;
    font-family: 'High Tower Text';
}

p {
    color: white;
    text-align: justify;
    font-family: 'High Tower Text';
}

body {
    background-color: #003300;
    color: black;
}

hr {
    border-top: 4px solid darkred;
}

input[type=submit] {
    color: white;
    background-color: darkred;
    text-align: center;
    border: 1px solid black;
    font-style: normal;
    font-family: 'High Tower Text';
    /*secondo font da decidere*/
    font-size: 17px;
}

h3 {
    color: white;
    text-align: right;
    font-family: 'High Tower Text';
    /*secondo font da decidere*/
}

h2 {
    color: white;
    text-align: right;
    font-family: 'High Tower Text';
    /*secondo font da decidere*/
}

h1 {
    color: white;
    text-align: center;
    font-family: 'High Tower Text';
    /*secondo font da decidere*/
}

body {
    background-color: #003300;
}

p2 {
    color: white;
    text-align: justify;
    font-family: 'High Tower Text';
    /*secondo font da decidere*/
}

label {
    color: white;
    font-family: 'High Tower Text';
    /*secondo font da decidere*/
    font-size: 16px;
}


table, th, td {
    border: 1px solid #e6e600;
    color: white;
    text-align: center;
}
table2, th2, td2 {
    border: 1px solid #e6e600;
    color: white;
    text-align: center;
}
p3 {
    color: white;
    text-align: center;
    font-family: 'High Tower Text';
}
.right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}
.left {
    position: absolute;
    left: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
    color: white;
}
.text-basso{
    text-align:center;
}




