@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model WebCards.Models.DrawTableCardModel

@{
    var partita = ViewData["partita"] as Partite;
    var player = ViewData["player"] as Giocatori;

    List<SelectListItem> listCarteTavoloItems= new List<SelectListItem>();
    foreach(var item in partita.InTavolos)
    {
        listCarteTavoloItems.Add(new SelectListItem
        {
            Text = $"{item}",
            Value = $"{item.CarteIdId}"
        });
    }
    List<SelectListItem> listCarteItems= new List<SelectListItem>();
    foreach(var item in player.Manos)
    {
        listCarteItems.Add(new SelectListItem
            {
              Text = $"{item}",
              Value = $"{item.CartaId}"
            });
    }

}

<div>
    <body2>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { action = $"/Game/{partita.Rowguid}/{player.Rowguid}/DrawTableCard" }))
        {
            <label>Prendi carta</label>
            @Html.DropDownListFor(m => m.CartaSceltaIntavola,
                                    listCarteTavoloItems,
                                    "Carta sul tavolo")
            <label>con</label>
            @Html.DropDownListFor(m => m.CartaSceltaMano,
                                    listCarteItems,
                                    "Carta mano giocatore")
            <input type="submit" value="prendi carta">
        }
    </body2>
</div>
