@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model WebCards.Models.DrawPlayerDeckModel

@{
    var player_aversari = ViewData["player_aversari"] as List<Giocatori>;
    var partita = ViewData["partita"] as Partite;
    var player = ViewData["player"] as Giocatori;

    List<SelectListItem> listGiocatoriAversariItems= new List<SelectListItem>();
    foreach(var item in player_aversari)
    {
        listGiocatoriAversariItems.Add(new SelectListItem
            {
              Text = $"{item}",
              Value = $"{item.Rowguid}"
            });
    }
    List<SelectListItem> listCarteItems= new List<SelectListItem>();
    foreach(var item in player.Manos)
    {
        listCarteItems.Add(new SelectListItem
            {
              Text = $"{item}",
              Value = $"{item.CartaId}"
            });
    }
}

<div class="text-mossegiocatore">
    <body1>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { action = $"/Game/{partita.Rowguid}/{player.Rowguid}/DrawPlayerDeck" }))
    {
        <label>Ruba mazzetto di </label>
        @Html.DropDownListFor(m => m.GiocatoriDerubato,
                              listGiocatoriAversariItems,
                              "nome giocatore")
        <label>con </label>
        @Html.DropDownListFor(m => m.CartaScelta,
                              listCarteItems,
                              "carta mano giocatore")
        <input type="submit" value="ruba" />
    }
    </body1>
</div>
