@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model WebCards.Models.DrawPlayerDeckModel

@{
    var player_aversari = ViewData["player_aversari"] as List<Giocatori>;
    var partita = ViewData["partita"] as Partite;
    var player = ViewData["player"] as Giocatori;
}

<div class="text-basso">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { action = $"/Game/{partita.Rowguid}/{player.Rowguid}/DrawPlayerDeck" }))
    {

        <label>giocatore derubato</label>
        @Html.DropDownListFor(m => m.GiocatoriDerubato,
                              new SelectList(player_aversari),
                              "Selezione giocatroe")


        <label>con quelle carta</label>
        @Html.DropDownListFor(m => m.CartaScelta,
                              new SelectList(player.Manos),
                              "Selezione giocatroe")


        <input type="submit" value="ruba mazzo" />
    }


</div>
