@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebCards.Models.Giocatori

@{
    ViewData["Title"] = "Inserisci Nome";
}


   
        <tr style="text-align:center">
           <td>@Html.TextBoxFor(m => m.Nome) </td>
        </tr>
   



