@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Fine partita";
}

<div id="end">
    <h3 class="display-4">Fine partita!</h3>
    <h2 id="h2home">Grazie di aver giocato con noi </h2>
</div>
<br />
<br />

    <p>Questa è l'applicazione che siamo riusciti a creare in questi giorni di lavoro insieme<br />
       Speriamo che vi sia piaciuta e che rispetti tutte le richieste. <br />
        Ora la notizia più importante: <br />
        Il vincitore è:
    </p>
   
<br />
<br />
<img style="float:right;" src="https://th.bing.com/th/id/R.040f942c8b2ab1aa35b0fb285eb15983?rik=O4NLeIsKqdyuLA&riu=http%3a%2f%2fwww.freepngimg.com%2fdownload%2fcards%2f5-playing-cards-png.png&ehk=XSpLOYd%2fh1pgTYfyBon4ifYJOCYaf64OncXvlkhDBB0%3d&risl=&pid=ImgRaw&r=0" width="350" height="250" alt="Mia Immagine">
